<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VulindlelaFTPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="VulindlelaFTPServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <VulindlelaFTPServer.Properties.Settings>
            <setting name="VulDC" serializeAs="String">
                <value>DC=vulprd,DC=pwv,DC=gov,DC=za</value>
            </setting>
            <setting name="VulIP" serializeAs="String">
                <value>10.123.45.180</value>
            </setting>
            <setting name="VulCTXApp" serializeAs="String">
                <value>OU=APPLICATION_RIGHTS,OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="VulCTXGovt" serializeAs="String">
                <value>OU=GOVERNMENT_STRUCTURE,OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="VulCTXUsers" serializeAs="String">
                <value>OU=USERS,OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="VulRootContext" serializeAs="String">
                <value>OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="VulMasterPassword" serializeAs="String">
                <value>Qsadoh!Qsadoh</value>
            </setting>
            <setting name="VulMasterUser" serializeAs="String">
                <value>vulsystem</value>
            </setting>
            <setting name="FTPRoot" serializeAs="String">
                <value>C:\_  FTPServerFiles</value>
            </setting>
            <setting name="pwd" serializeAs="String">
                <value>Qsadoh!Qsadoh</value>
            </setting>
            <setting name="usr" serializeAs="String">
                <value>vulsystem</value>
            </setting>
        </VulindlelaFTPServer.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <VulindlelaFTPServer.Properties.Settings>
            <setting name="AdsPRDConnectionString" serializeAs="String">
                <value>Data Source=10.123.45.180;Initial Catalog=Ads;Persist Security Info=True;User ID=sa;Password=M33Q1Serv!ce09</value>
            </setting>
            <setting name="AD_USERS_PRD" serializeAs="String">
                <value>OU=USERS,OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="AD_APPL_PRD" serializeAs="String">
                <value>OU=APPLICATION_RIGHTS,OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="MIN_PASSV_PORT" serializeAs="String">
                <value>7000</value>
            </setting>
            <setting name="MAX_PASSV_PORT" serializeAs="String">
                <value>7100</value>
            </setting>
            <setting name="FTP_PORT" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="AUTO_START_FTP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ENABLE_FTP_LOGGING" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_NOTIFY_ICON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ENABLE_FTPFOLDER_ICON" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ENABLE_QUICK_CONFIG_MENU" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AUTO_SEND_ERROR_REPORT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ENABLE_APD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DATE_TIME_FORMAT" serializeAs="String">
                <value>dd/MM/yyyy hh:mm:sstt</value>
            </setting>
            <setting name="AD_APPLICATION_PRD" serializeAs="String">
                <value>OU=APPLICATION_RIGHTS,OU=Vulindlela3,DC=vulindlelaprd,DC=gov,DC=za</value>
            </setting>
            <setting name="HostName" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="HstPortNumber" serializeAs="String">
                <value>21</value>
            </setting>
        </VulindlelaFTPServer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
<!-- {CF6B70DF-4AD2-486B-8D80-6AFE874A2D7A} -->
