<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ExecSSISPackage.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsApplication3.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ExecSSISPackage.My.MySettings.MasterCN" connectionString="Provider=SQLOLEDB;Data Source=10.123.45.165;Persist Security Info=True;Password=S@P@SSW0RD;User ID=sa;Initial Catalog=master"
            providerName="System.Data.OleDb" />
        <add name="ExecSSISPackage.My.MySettings.VIP_EXPANDED" connectionString="Provider=SQLOLEDB;Data Source=10.123.45.165;Persist Security Info=True;Password=S@P@SSW0RD;User ID=sa;Initial Catalog=VIP_EXPANDED"
            providerName="System.Data.OleDb" />
        <add name="WindowsApplication3.My.MySettings.MasterCN" connectionString="Provider=SQLOLEDB;Data Source=10.123.45.165;Persist Security Info=True;Password=S@P@SSW0RD;User ID=sa;Initial Catalog=master"
            providerName="System.Data.OleDb" />
        <add name="WindowsApplication3.My.MySettings.VIP_EXPANDED" connectionString="Provider=SQLOLEDB;Data Source=10.123.45.165;Persist Security Info=True;Password=S@P@SSW0RD;User ID=sa;Initial Catalog=VIP_EXPANDED"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <applicationSettings>
      <ExecSSISPackage.My.MySettings>
            <setting name="PakageFilePath" serializeAs="String">
                <value>\\10.123.45.165\SSIS Projects\DTS\DTS\Package.dtsx</value>
            </setting>
        </ExecSSISPackage.My.MySettings>
    </applicationSettings>
    <userSettings>
        <WindowsApplication3.My.MySettings>
            <setting name="PakageFilePath" serializeAs="String">
                <value>\\10.123.45.165\SSIS Projects\DTS\DTS\Package.dtsx</value>
            </setting>
        </WindowsApplication3.My.MySettings>
    </userSettings>
</configuration>
